<div class="container app-lender-maintenance">
  <div class="row">
    <div class="col col-12">
      <div class="panel">
        <div class="row panel-header">
          <div class="col col-12 divider">
            <h2>Lender Maintainance</h2>
          </div>
        </div>
        <div class="row panel-body panel-body-desktop">
          <div class="col col-12">
            <div class="row table-lenders table-lenders-headers">
              <div class="col-12">
                <div class="row">
                  <div class="col col-1 text-center text-bold">Bank Code</div>
                  <div class="col col-3 text-center text-bold">
                    Display Name
                  </div>
                  <div class="col col-1 text-center text-bold">Type</div>
                  <div class="col col-3 text-center text-bold">Commission</div>
                  <div class="col col-1 text-center text-bold">
                    Balance Multiplier
                  </div>
                  <div class="col col-1 text-center text-bold">Active</div>
                  <div class="col col-1 text-center text-bold">Hide</div>
                  <div class="col col-1 text-center text-bold">Edit</div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col col-1 text-center"></div>
                  <div class="col col-3 text-center"></div>
                  <div class="col col-1 text-center"></div>
                  <div class="col col-1 text-center text-bold">Upfront</div>
                  <div class="col col-1 text-center text-bold">Trail High</div>
                  <div class="col col-1 text-center text-bold">Trail Low</div>
                  <div class="col col-1 text-center"></div>
                  <div class="col col-1 text-center"></div>
                  <div class="col col-1 text-center"></div>
                  <div class="col col-1 text-center"></div>
                </div>
              </div>
            </div>
            <div class="row table-lenders table-lenders-body">
              <div class="col-12">
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
                <div class="row table-lenders table-lenders-body">
                  <div class="col col-1 text-center text-bold">CUA</div>
                  <div class="col col-3 text-center">
                    Credit Union Australia
                  </div>
                  <div class="col col-1 text-center">Residential</div>
                  <div class="col col-1 text-center">%0.66</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">%0.17</div>
                  <div class="col col-1 text-center">100</div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <input type="checkbox" disabled />
                  </div>
                  <div class="col col-1 text-center">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row panel-body panel-body-mobile">
          <div class="col col-12">
            <div class="row table-lenders table-lenders-headers">
              <div class="col col-12 mb-2 text-bold">Bank Code</div>
              <div class="col col-12 mb-2 text-bold">Display Name</div>
              <div class="col col-12 mb-2 text-bold">Type</div>
              <div class="col col-12 mb-2 text-bold">Commission</div>
              <div class="col col-12 mb-2 text-bold">Upfront</div>
              <div class="col col-12 mb-2 text-bold">Trail High</div>
              <div class="col col-12 mb-2 text-bold">Trail Low</div>
              <div class="col col-12 mb-2 text-bold">Balance Multiplier</div>
              <div class="col col-12 mb-2 text-bold">Active</div>
              <div class="col col-12 mb-2 text-bold">Hide</div>
              <div class="col col-12 mb-2 text-bold">Edit</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
