<div class="app-lender-maintenance">
  <div class="row">
    <div class="col col-12">
      <div class="panel">
        <div class="row panel-header">
          <div class="col col-12">
            <h2>Lender Maintainance</h2>
          </div>
        </div>
        <div class="row panel-body">
          <app-loading-spinner *ngIf="lenderStartLoaded"></app-loading-spinner>
          <div *ngIf="!lenderStartLoaded && !lenderLoadedSucceed" class="col">
            <button class="btn btn-primary" (click)="retryToloadLenders()">
              Retry
            </button>
          </div>
          <div
            *ngIf="!lenderStartLoaded && lenderLoadedSucceed"
            class="table-responsive"
          >
            <table
              class="table table-hover table-fixed table-striped lenders-table"
            >
              <thead>
                <tr>
                  <th class="col-1 lenders-table-text-bold">Bank Code</th>
                  <th class="col-2 lenders-table-text-bold">Display Name</th>
                  <th class="col-2 lenders-table-text-bold">Type</th>
                  <th class="col-3 text-center lenders-table-text-bold">
                    <div class="row">
                      <div class="col-12">Commission</div>
                    </div>
                    <div class="row">
                      <div class="col-4 text-center">Upfront</div>
                      <div class="col-4 text-center">Trail High</div>
                      <div class="col-4 text-center">Trail Low</div>
                    </div>
                  </th>
                  <th class="col-1 text-center lenders-table-text-bold">
                    Balance Multipler
                  </th>
                  <th class="col-1 text-center lenders-table-text-bold">
                    Active
                  </th>
                  <th class="col-1 text-center lenders-table-text-bold">
                    Hide
                  </th>
                  <th class="col-1 lenders-table-text-bold">Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lender of lenders">
                  <td class="col-1 lenders-table-text-bold">
                    {{ lender.attributes.code }}
                  </td>
                  <td class="col-2">
                    {{ lender.attributes.name | ellipsis : 22 }}
                  </td>
                  <td class="col-2">
                    {{ lender.attributes.type | titlecase }}
                  </td>
                  <td class="col-3 text-center">
                    <div class="row">
                      <div class="col-4 text-center">
                        %{{
                          lender.attributes.upfont_commission / 100
                            | number : "1.0-2"
                        }}
                      </div>
                      <div class="col-4 text-center">
                        %{{
                          lender.attributes.high_trail_commission / 100
                            | number : "1.0-2"
                        }}
                      </div>
                      <div class="col-4 text-center">
                        %{{
                          lender.attributes.low_trail_commission / 100
                            | number : "1.0-2"
                        }}
                      </div>
                    </div>
                  </td>
                  <td class="col-1 text-center">
                    {{ lender.attributes.balance_multiplier }}
                  </td>
                  <td class="col-1 text-center">
                    <input
                      type="checkbox"
                      disabled
                      [checked]="lender.attributes.is_active"
                    />
                  </td>
                  <td class="col-1 text-center">
                    <input
                      type="checkbox"
                      disabled
                      [checked]="lender.attributes.is_hidden"
                    />
                  </td>
                  <td class="col-1">
                    <div (click)="onEditClicked(lender)" class="edit-button">
                      <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
