<div class="app-lender">
  <app-confirm-modal></app-confirm-modal>
  <form (ngSubmit)="onSubmit(lenderForm)" #lenderForm="ngForm">
    <div class="row">
      <div class="col mb-2">
        <label for="bankCode" class="form-label">Bank Code</label>
        <select
          name="bankCode"
          class="form-select"
          id="bankCode"
          aria-label="bank code"
          [(ngModel)]="selectedLender.attributes.code"
          (ngModelChange)="onBankChanged(0)"
        >
          <option
            *ngFor="let bank of banks"
            [value]="bank.code"
            [selected]="bank.code === selectedLender.attributes.code"
          >
            {{ bank.code }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col mb-2">
        <label for="displayName" class="form-label">Display Name</label>
        <select
          name="displayName"
          class="form-select"
          id="displayName"
          aria-label="display name"
          [(ngModel)]="selectedLender.attributes.name"
          (ngModelChange)="onBankChanged(1)"
        >
          <option
            *ngFor="let bank of banks"
            [value]="bank.name"
            [selected]="bank.name === selectedLender.attributes.name"
          >
            {{ bank.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col mb-2">
        <label for="type" class="form-label">Type</label>
        <select
          name="type"
          class="form-select"
          id="type"
          aria-label="type"
          [(ngModel)]="selectedLender.attributes.type"
        >
          <option
            *ngFor="let type of types; index as index"
            [value]="type"
            [selected]="type === selectedLender.attributes.type"
          >
            {{ type | titlecase }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col mb-2">
        <label for="upfront" class="form-label">Upfront</label>
        <input
          name="upfront"
          type="number"
          class="form-control"
          id="upfront"
          min="0"
          max="100"
          [value]="selectedLender.attributes.upfont_commission"
          [(ngModel)]="selectedLender.attributes.upfont_commission"
        />
      </div>
    </div>
    <div class="row">
      <div class="col mb-2">
        <label for="trailHigh" class="form-label">Trail High</label>
        <input
          name="trailHigh"
          type="number"
          class="form-control"
          id="trailHigh"
          min="0"
          max="100"
          [value]="selectedLender.attributes.high_trail_commission"
          [(ngModel)]="selectedLender.attributes.high_trail_commission"
        />
      </div>
    </div>
    <div class="row">
      <div class="col mb-2">
        <label for="trailLow" class="form-label">Trail Low</label>
        <input
          name="trailLow"
          type="number"
          class="form-control"
          id="trailLow"
          min="0"
          max="100"
          [value]="selectedLender.attributes.low_trail_commission"
          [(ngModel)]="selectedLender.attributes.low_trail_commission"
        />
      </div>
    </div>
    <div class="row">
      <div class="col mb-2">
        <label for="balanceMultiplier" class="form-label">
          Balance Multiplier
        </label>
        <input
          name="balanceMultiplier"
          type="number"
          class="form-control"
          id="balanceMultiplier"
          min="0"
          max="100"
          [value]="selectedLender.attributes.balance_multiplier"
          [(ngModel)]="selectedLender.attributes.balance_multiplier"
        />
      </div>
    </div>
    <div class="row">
      <div class="col mb-2">
        <div class="form-check">
          <label for="active" class="form-label">Active</label>
          <input
            name="active"
            class="form-check-input"
            type="checkbox"
            id="active"
            [value]="selectedLender.attributes.is_active"
            [(ngModel)]="selectedLender.attributes.is_active"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-2">
        <div class="form-check">
          <label for="hide" class="form-label">Hide</label>
          <input
            name="hide"
            class="form-check-input"
            type="checkbox"
            id="hide"
            [value]="selectedLender.attributes.is_hidden"
            [(ngModel)]="selectedLender.attributes.is_hidden"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-4">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-danger"
          (click)="onCancelClicked()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
